#imageJumbotron {
 background: none;
}

.navbar-brand {
  
}

.navbar {
  background-color: #aea500;
  border-bottom: 4px solid #4c2f6a;
}

.nav-link {
font-size: large;
color: white;
}

.title {
  color:white;
}


#footer {
  padding-top: 80px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px 0px;
  color: #ffffff;
    border-top: 10px solid #4c2f6a;
    background-color: #aea500;

  }

  .card