#imageJumbotron {
 background: none;
}

.navbar-brand {
  
}

.navbar {
  background-color: #aea500;
  border: purple;
}

.nav-link {
font-weight: bold;
font-size: large;
color: white;
}

.title {
  color:white;
}

.center {
 mar
}